<html>

<head>
    <title>Customer Details</title>
</head>

<body>
    <div class="form-style-2">
        <div class="form-style-2-heading">Customer Details</div>
        <form action="/details" method="post">
            <label for="username">
                <span>Name</span>
                <input type="text" class="input-field" name="username" placeholder="Enter Name" required />
            </label>
            <label for="contact_number">
                <span>Contact Number</span>
                <input type="text" class="input-field" name="contact_number" placeholder="Enter Contact Number"
                    required />
            </label>
            <label for="number_of_items">
                <span>Total Items</span>
                <input type="text" class="input-field" name="number_of_items" placeholder="Enter the number of items"
                    required />
            </label>
            <label for="amount">
                <span>Total Amount</span>
                <input type="text" class="input-field" name="amount" placeholder="Enter the total amount" required />
            </label>
            <label for="current_date">
                <span>Date</span>
                <input type="date" class="input-field" name="current_date" required />
            </label>
            <div>
                <button type="submit" class="btn">Submit</button>
                <a href="/page" class="btn">Today's Winner</a>
            </div>
        </form>
        {% if message %}
        <p class="message">{{message}}</p>
        {% endif %}
    </div>
</body>

</html>